// Fonts
// ----------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// -> Poppins : 400 - 500 - 600 - 700

// Colors
// ----------

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// Breakpoints
// ----------
// TODO: Make this thing responsive

// Normalizing
// ----------
// TODO: Normalize

:root {
	font-size: 16px;
}

// Styling
// ----------

// Layout
// TODO: Layout

// Intro
// TODO: Style intro

// Form
// TODO: Style form
// TODO: Add hover and active states